*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    min-height:100vh;
    overflow-x:hidden;
    font-family:'Poppins',sans-serif;
    color:white;
    background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
}



canvas#bg{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}



.container{
    width:90%;
    max-width:1100px;
    margin:auto;
    padding-top:60px;
    padding-bottom:120px;
}


.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);

    border-radius:16px;

    box-shadow:
        0 0 20px rgba(0,255,255,0.4),
        0 0 60px rgba(0,255,255,0.2);

    padding:35px;
    margin-bottom:60px;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}



h1{
    font-size:2.3rem;
    margin-bottom:25px;
    text-shadow:0 0 10px cyan;
}

h2{
    margin-bottom:20px;
}



form{
    background:rgba(0,0,0,0.6);
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 20px cyan;
    max-width:450px;
    margin:auto;
}



.glow-button{

    display:inline-block;

    border:2px solid cyan;

    padding:12px 22px;

    border-radius:6px;

    color:cyan;

    font-weight:bold;

    cursor:pointer;

    box-shadow:0 0 10px cyan;

    transition:0.3s;
}

.glow-button:hover{
    background:cyan;
    color:black;
    box-shadow:0 0 20px cyan;
}

.dragging{
    background:rgba(0,255,255,0.2);
}


.dropdown{
    width:100%;
    padding:10px;
    margin:15px 0;
    border-radius:5px;
}


.submit-btn{

    background:cyan;

    color:black;

    font-weight:bold;

    padding:12px 22px;

    border:none;

    border-radius:6px;

    cursor:pointer;

    box-shadow:0 0 10px cyan;

    transition:0.3s;
}

.submit-btn:hover{
    background:#00f0ff;
}



#message{
    margin-top:15px;
    font-weight:bold;
}


.stats-card pre{

    background:rgba(0,0,0,0.6);

    padding:20px;

    border-radius:10px;

    overflow:auto;

    text-align:left;

    max-height:250px;
}

#tree{

    background:rgba(0,0,0,0.5);

    border-radius:10px;

    padding:20px;

    overflow:auto;
}